html, body {
    height: 100%;
    background-color: beige;
    font-family: sans-serif; /* Menambah kenyamanan visual */
}

.global {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    width: 380px;
    height: auto; 
    min-height: 550px;
    padding: 30px;
    border-radius: 20px; 
    box-shadow: 0 10px 25px rgba(0,0,0,0.1); 
    border: none;
}

input[type="email"],
input[type="password"],
input[type="name"],
input[type="number"]{
    background: beige;
    border: 2px solid #344334;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(33, 33, 255, 0.2);
}

.card-title {
    font-weight: 900;
    padding-top: 20px;
    letter-spacing: 2px;
}

.judul {
    font-weight: 900;
    padding-top: 10px;
    color: #ffffff;
    font-size: 1.5rem;
    box-shadow: 0 5px 8px hsl(120, 33%, 45%); 
    padding: 3px;
    display: inline-block; 
    background-color: hsl(120, 33%, 45%);
}

.btn {
    background: #344334; 
    color: white; 
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 14px !important;
    padding: 10px;
    border: 2px solid #344334;
    transition: 0.3s;
}

.btn:hover {
    background: beige;
    color: #344334;
    border: 2px solid #344334;
}

p{
    text-align: center;
    padding-top: 10px;
}
a{
    color: hsl(120, 33%, 45%);
    text-decoration: none;

}